<div id="personal-autograph">
    <h1>{{star.name}}</h1>
    <p>Li Europan lingues evvs membres del sam familie. Lor separat existentie es
    un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>
    <section class="content">
        <div class="left">
            <h2>{{txt_summary}}</h2>
            <div class="image"><img src="/images/imgs/stars-mid/image-3.jpg" alt="Der Wendler" /></div>
            <div id="order-information">
                <strong>{{txt_for}}</strong>
                <input type="text" name="for" value="{{autograph.for}}" placeholder="Please type a name" />
                <strong>{{txt_message_to}} "{{star.name}}":</strong>
                <textarea name="message_to_star" rows="2">{{autograph.messageToStar}}</textarea>
                <strong>{{txt_pencil_color}}</strong>
                <span class="pen-color pen-color-{{autograph.penColor}}"></span>
                <span class="cl"></span>
                <strong>{{txt_autograph_includes}}:</strong>
                <div class="mm-icons">
                    <span class="audio">{{audio}}</span>
                    <span class="video">{{video}} <strong><em>HQ</em> {{hq_video}}</strong></span>
                </div>
            </div>
        </div>
        <div class="right">
            <address>
                <h3>Rechnungsadresse</h3>
                <span>Benjamin Braun</span>
                <span>Am Rennerpark 8</span>
                <span>51645 Gummersbach</span>
                <span><strong>E-Mail:</strong> braun@megahunger.com</span>
                <span><strong>Tel.:</strong> 016094792945</span>
                <a href="#" class="edit">bearbeiten</a>
            </address>
            <div id="payment-method">
                <h3>Bezahlmethode wählen</h3>
                <select>
                    <option>Kreditkarte (über PayPal)</option>
                </select>
            </div>
            <div id="payment-method2">
                <h3>Bezahlmethode wählen</h3>
                <span><label><input type="checkbox" name="checkbox" /> <span class="text">Ich akzeptiere die AGB. (linksstehend)</span></label><i class="cl"></i></span>
                <span><label><input type="checkbox" name="checkbox" /> <span class="text">Ja, ich möchte den Newsletter von Meeveep empfangen.</span></label><i class="cl"></i></span>
                <i class="cl"></i>
            </div>
            <div id="total-price">
                <h3>Gesamtpreis</h3>
                <span>5,00€ <i>(Preis inkl. MwSt.)</i></span>
            </div>
            <a href="#" id="order-checkout">kostenpflichtig bestellen »</a>
            <div id="tiny-print">* Du gelangst im nächsten Schritt zum Bezahlprozess. Bitte schließe das Fenster erst, wenn du dazu aufgefordert wirst.</div>
        </div>
    </section>
    <div id="personal-autographs-count">&nbsp;</div>
</div>