lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.psd
*.java

pids
logs
results

npm-debug.log
/www/node_modules/
nbproject/private/

www/node_modules/
www/nbproject/private/
recording-server/node_modules/
PSD
Exports
Mobile
Shots
Slices

/Files/
/picture-server/node_modules/
/www/public/images/flags/flags/
/www/public/images/flags/iso/128/
/www/public/images/flags/iso/32/
/www/public/images/flags/iso/list.txt
/www/public/images/flags/iso/48/
/www/public/images/flags/iso/64/
/www/public/images/flags/iso/16/
/www/public/cards/
/www/cache/
!/Mobile/
/www/public/images/flags/
.buildpath
.project
/.settings/
