lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.psd

pids
logs
results

npm-debug.log
www/node_modules/
nbproject/private/

www/node_modules/
www/nbproject/private/
recording-server/node_modules/
PSD
Exports
Mobile
Shots
Slices

