<div id="personal-autograph-dashboard">
    <h1>{{page_title}}</h1>
    <p>Li Europan lingues evvs membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>
    <section class="content">
        <form method="post" id="add-star-form">
            <div class="error{{^error}} none{{/error}}">{{error}}</div>
            <div class="left">
                <div>
                    <h3>{{txt_star_name}}</h3>
                    <input name="name" type="text" value="{{data.name}}" required pattern="^[a-zA-Z].*$" />
                </div>
                <div>
                    <h3>{{txt_choose_language}}</h3>
                    <select name="lang">
                        {{#langs}}
                        <option{{#selected}} selected{{/selected}} value="{{code}}">{{name}}</option>
                        {{/langs}}
                    </select>
                </div>
                <div>
                    <h3>{{txt_star_email}}</h3>
                    <input name="email" value="{{data.email}}" type="email" required="required" />
                </div>
                <div>
                    <h3>{{txt_star_pw}}</h3>
                    <input name="password" value="{{data.password}}" type="password" title="6 - 32 chars" required pattern="^.{6,32}$" />
                </div>
                <div>
                    <h3>{{txt_select_cat}}</h3>
                    <div>
                        <select id="star-category" name="category">
                            {{#categories}}
                            <option value="{{code}}"{{#selected}} selected{{/selected}}>{{text}}</option>
                            {{/categories}}
                        </select>
                        <select id="star-subcategory" name="subcategory">
                        </select>
                    </div>
                </div>
                <div class="fineprints">
                    <input name="terms" value="accept"{{#data.terms}} checked="checked"{{/data.terms}} type="checkbox" /> <span>Hiermit bestätige ich, dass ich für oben angegebene Person einen entsprechenden Account anlegen darf.</span>
                </div>
            </div>
            <div class="right">
                <div id="dashboard-star-thumbnails">
                    <h3>{{txt_auto_upld}}</h3>
                    <ul>
                    </ul>
                    <span class="cl"></span>
                    <div class="file-upload">
                        <div class="own-photo">
                            <span>{{txt_own_foto}}</span>
                            <a href="#" class="info">More information</a>
                        </div>
                        <input type="text" readonly="readonly" placeholder="{{txt_select_file}}..." class="filename" />
                        <input type="file" name="img" accept="image/*" />
                        <a href="#" class="picker"></a>
                        <a href="#" class="upload">{{txt_upld}} »</a>
                        <span class="cl"></span>
                    </div>
                </div>
                <button type="submit">{{txt_submit}} »</button>
            </div>
        </form>
    </section>
    <div id="personal-autographs-bottom">&nbsp;</div>
</div>
<script>
    var categoryTree = {{{categoryTree}};
    var imageActionsMarkup = '<span><a href="#" class="profile-pic">Als Profilbild</a><a href="#" class="delete">Delete</a></span>';
</script>
