<div id="personal-autograph-preview">
    <h1>{{txt_manager_auto}}</h1>
    <p>Li Europan lingues evvs membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>
    <section class="content scrolling">
        <div class="divide">
            <section class="left">
                <h2>{{txt_live_auto}}</h2>
                <a class="btn" href="#">{{txt_add_element}}</a>
                {{!
                <ul>
                    <li>
                        <span class="name">Der Wendler</span>
                        <span class="date">03.09.2013<span class="time">17.00 - 18.00 hr</span></span>
                        <div class="buttons">
                            <a href="#">Configure</a>
                            <a href="#">Delete</a>
                        </div>
                    </li>
                    <li>
                        <span class="name">Der Wendler</span>
                        <span class="date">03.09.2013<span class="time">17.00 - 18.00 hr</span></span>
                        <div class="buttons">
                            <a href="#">Configure</a>
                            <a href="#">Delete</a>
                        </div>
                    </li>
                    <li>
                        <span class="name">Der Wendler</span>
                        <span class="date">03.09.2013<span class="time">17.00 - 18.00 hr</span></span>
                        <div class="buttons">
                            <a href="#">Configure</a>
                            <a href="#">Delete</a>
                        </div>
                    </li>
                    <li>
                        <span class="name">Der Wendler</span>
                        <span class="date">03.09.2013<span class="time">17.00 - 18.00 hr</span></span>
                        <div class="buttons">
                            <a href="#">Configure</a>
                            <a href="#">Delete</a>
                        </div>
                    </li>
                    <li>
                        <span class="name">Der Wendler</span>
                        <span class="date">03.09.2013<span class="time">17.00 - 18.00 hr</span></span>
                        <div class="buttons">
                            <a href="#">Configure</a>
                            <a href="#">Delete</a>
                        </div>
                    </li>
                </ul>
                }}
            </section>
            <section class="right">
                <h2>{{txt_comm_auto}}</h2>
                <a class="btn" href="/product/add">{{txt_add_element}}</a>
                <ul id="commercial-autographs-list">
                    {{#products}}
                    <li data-product-id="{{productId}}">
                        <div class="left">
                            <span class="name">{{star.name}}</span>
                            <span class="gultig">{{txt_valid_from}} {{validFrom}} - {{validTo}}</span>
                            <span class="mm-icons">
                                {{#includes_audio}}<span class="audio"></span>{{/includes_audio}}
                                {{#includes_video}}<span class="video"></span>{{/includes_video}}
                                {{#includes_hq}}<span class="hq">HQ</span>{{/includes_hq}}
                            </span>
                        </div>
                        <span class="date">{{price}}€<span class="time">({{txt_incl_vat}})</span></span>
                        <div class="buttons">
                            <a href="/product/edit/{{productId}}" class="config">{{txt_config}}</a>
                            <a href="/product/delete/{{productId}}" class="delete">{{txt_del}}</a>
                        </div>
                    </li>
                    {{/products}}
                </ul>
            </section>
        </div>
    </section>
    <div id="personal-autographs-bottom">&nbsp;</div>
</div>
{{#productEdited}}
<script>
    window.addEventListener('load', function () {
        Meeveep.dialog.create({
            title: 'Product modified!',
            message: 'The product has been successfully modified. Note that changes will affect only new order.',
            buttons: [
                {text: 'View product', action: '/product/order/{{productId}}'},
                {text: 'Okay »', action: 'close'}
            ]
        });
    });
</script>
{{/productEdited}}