<!DOCTYPE html>
<html class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{{{meta_tags}}}
    <title>{{title}}</title>
    <link href="/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" media="all" />
    {{#css_files}}
    <link href="{{#href}}{{href}}{{/href}}{{^href}}{{.}}{{/href}}" rel="stylesheet" />
    {{/css_files}}
    <!--[if lte IE 7]>
    <link href="/css/ie7.css" rel="stylesheet" media="all" />
    <![endif]-->
	<script type="text/javascript" src="/js/lib/modernizr.js"></script>
	<script type="text/javascript" src="/js/lib/css3-mediaqueries.js"></script>
    {{#pre_scripts}}
    <script type="text/javascript" src="{{src}}{{#defered}}" defer="defer{{/defered}}"></script>
    {{/pre_scripts}}
</head>
<body id="{{body.id}}{{^body.id}}start-page{{/body.id}}">
	<div id="wrapper">
    	<div id="container">
        	<header id="header-main">
            	<div id="header-top">
	                <div id="slogan">{{header_slogan}}</div>
	                <a href="#" id="star-alarm-link">{{star_alarm}}</a>
                	<div id="logo"><a href="/home?ref=logo"><img src="/images/imgs/logo.png" alt="Meeveep" /></a></div>
                </div>
                <div id="header-bottom">
                	<nav class="left">
                    	<a href="/home?ref=home-btn" id="icon-nav-home">Home</a>
                    	<a href="/account/dashboard?ref=dbbtn" id="icon-nav-settings">Dashboard</a>
                    	<a href="#" id="icon-nav-profile">Profile</a>
                    </nav>
                    <div id="header-star-stat">Nächste Autogrammstunde mit <i>DJ Ötzi</i> in: <i>1 Tag, 3 Std. und 40 MIn.</i></div>
                	<nav class="right">
                        <div id="language-selector">
                            <span class="current lang-{{_lang-id}}">{{_lang-name}}</span>
                            <ul>
                                {{#availableLangs}}
                                <li data-lang="{{code}}" class="lang-{{code}}">{{name}}</li>
                                {{/availableLangs}}
                            </ul>
                        </div>
                    	<a href="/pages/services" id="header-top-info">{{{how_it_works}}}</a>
                    </nav>
                    <div id="user-info-box">
                        {{^loggedIn}}
                        <form id="login-form" method="post" action="/auth/login">
                            <h2>{{txt‌Login}}</h2>
                            <p>{{login_intro}}</p>
                            <p class="error"></p>
                            <fieldset>
                            	<input type="email" placeholder="{{login_email}}" />
                            	<input type="password" placeholder="{{login_password}}" />
                                <button type="submit">{{login_submit}}</button>
                            </fieldset>
                            <p class="register-link">{{login_no_account}}? <a href="/account/register">{{login_register}} &raquo;</a></p>
                        </form>
                        {{/loggedIn}}
                        {{#loggedIn}}
                            User logged in as <em>{{loggedInUser.username}}</em>
                            <div><a href="/auth/logout">Logout</a></div>
                        {{/loggedIn}}
                    </div>
                </div>
            </header>
            <section id="main">
            	<section id="content">
                	<div id="divide">
                    	<section class="left">
                            {{sidebar_top}}
                    	    {{>sidebar}}
                            {{sidebar_bottom}}
                        </section>
                        <section class="right">
                            {{{ yield }}}
                        </section>
                        <span class="cl"></span>
                    </div>
                    <div id="random-bg-r26a4"><img src="/images/imgs/hind-1.jpg" alt="" /></div>
                </section>
            </section>
            <footer id="footer-main">
            	<div>
                    <section>
                        <h2>{{footer_info_about}}</h2>
                        <h3>{{management_clubs}}</h3>
                        <p>{{footer_pave_way}}</p>
                        <a href="/account/register?_t=mrg" class="more">{{register_here}} &raquo;</a>
                        <h3>{{celerities}}</h3>
                        <p>{{celeb_closeness}}</p>
                        <a href="/account/register?_t=str" class="more">{{register_here}} &raquo;</a>
                    </section>
                    <section>
                        <h2>{{footer_trust}}</h2>
                        <p>{{footer_trust_text}}</p>
                        <section class="icons" id="footer-certified">
                        	<a href="#" id="footer-certified-bkf"></a>
                        	<a href="#" id="footer-certified-aaa"></a>
                        	<a href="#" id="footer-certified-eee"></a>
                        </section>
                    </section>
                    <section>
                        <h2>{{meeveep_secure}}!</h2>
                        <p>{{meeveep_secure_txt}}</p>
                        <section class="icons" id="footer-payment-options"></section>
                        <section id="footer-service-links">
                        	<strong>{{txtService}}</strong>
                            <a href="/pages/terms">{{txtTerms}}</a> | <a href="/pages/legal">{{txtLegal}}</a> | <a href="/contact">{{txtContact}}</a> | <a href="/pages/privacy">{{txtPrivacy}}</a> | <a href="/help">{{txtHelp}}</a>
                        </section>
                    </section>
                </div>
            </footer>
        </div>
        {{>tailer}}
    </div>
	<script src="/js/lib/jquery-1.8.2.min.js"></script>
    <script src="/js/lib/jquery-ui-1.9.0.custom.min.js"></script>
    <script src="/js/lib/custom-scrollbar-plugin/jquery.mousewheel.min.js"></script>
    <script src="/js/lib/custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
    <script src="/js/lib/jquery.selectbox/jquery.selectbox-0.2.min.js"></script>
    <script src="/js/lib/uniform/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="/js/lib/util.js"></script>
	<script type="text/javascript" src="/js/core.js"></script>
    <!--[if IE 8]>
    <script src="/js/lib/ie/ie8.js"></script>
    <![endif]-->
    {{#post_scripts}}
    <script type="text/javascript" src="{{src}}{{#defered}}" defer="defer{{/defered}}"></script>
    {{/post_scripts}}
</body>
</html>
