<section id="sign-overlay" class="signage">
    <div class="content">
        <header class="header">
            <h1>Für <span class="name"></span></h1>
            <p></p>
            <div id="sign-actions">
                <a href="#" id="sign-action-undo"><span>Undo</span></a>
                <a href="#" id="sign-action-cancel"><span>Cancel</span></a>
                <a href="#" id="sign-action-accept"><span>Accept</span></a>
            </div>
        </header>
        <div class="viewport">
            <span class="cursor-tip">Der Wendler</span>
            <div class="img">
                <img src="/images/imgs/star-large/big-picture.jpg" alt="Der Wendler" />
            </div>
        </div>
    </div>
</section>
