<div id="personal-autographs">
    <h1>{{page_title}}</h1>
    <p>{{page_title_description}}</p>
    <div class="rightbox">
    	<form id="personal-autographs-search" method="get">
        	<fieldset>
            	<input type="search" name="q"{{#search_str}} value="{{search_str}}"{{/search_str}} placeholder="{{placeholder_search}}" />
                <!-- <button>{{txt_search}}</button> -->
            </fieldset>
        	<fieldset>
                <select name="category">
                    <option value="">{{txt_all}}</option>
                    {{#categories}}
                    <option value="{{code}}"{{#selected}} selected{{/selected}}>{{text}}</option>
                    {{/categories}}
                </select>
            </fieldset>
        </form>
    </div>
    <section class="content scrolling">
    	<ul>
    	    {{#products}}
        	<li>
            	<span class="overlay">
                	<a href="/star/{{starId}}" class="info" title="{{more_information}}">{{txt_information}}</a>
                	<span class="flag"></span>
                    <a class="text" href="/product/order/{{productId}}">{{next_step}} &raquo;</a>
                </span>
                <img src="{{image}}" alt="{{name}}" />
                <span class="name">{{star.name}}</span>
                <span class="price {{#sale}}sale{{/sale}}">{{price}}{{currency}}</span>
                <span class="mm-icons">
                	{{#includes_video}}<span class="video">{{txt_video}}</span>{{/includes_video}}
                	{{#includes_audio}}<span class="audio">{{txt_audio}}</span>{{/includes_audio}}
                	{{#includes_hq}}<span class="hq">HQ</span>{{/includes_hq}}
                </span>
            </li>
            {{/products}}
        </ul>
    </section>
    <div id="personal-autographs-count">{{products.length}} {{txt_found}}</div>
</div>
{{#userRegistered}}
<script>
    window.addEventListener('load', function () {
        Meeveep.dialog.create({
            title: 'Welcome {{firstName}}!',
            message: 'Welcome to Meeveep. Your account has been registered. However, we will need you to confirm your ownership of the email {{email}}. We have therefore sent a mail to {{email}} with instructions on how to proceed. Until you verify your email, you will not be able to perform any action that will require sending mails.'
        });
    });
</script>
{{/userRegistered}}
{{#orderComplete}}
<script>
    window.addEventListener('load', function () {
        Meeveep.dialog.create({
            title: 'Order placed!',
            message: 'Your order has been placed sucessfully. Your order number is "{{orderComplete}}". Note that your account will not be billed until the autograph is signed.'
        });
    });
</script>
{{/orderComplete}}
