<button data-next="step-4" id="book3-next" class="next btn">{{txt_place_order}} »</button>
<section id="live-autographs">
    <div id="live-autograph-stream" class="taller">
        <h2>{{sidebar_title}}</h2>
        <span id="live-autograph-found">{{txt_step}} 3 {{txt_of}} 3</span>
        <div id="live-autograph-list" class="scrolling">
            <div class="content">
                <h3>{{txt_terms}}</h3>
                {{>terms}}
            </div>
        </div>
    </div>
</section>
<a href="#" data-next="step-2" class="prev btn" id="book3-prev">zurück zu 2.</a>