<button id="book1-next" class="next btn arrow">3. next step</button>
<section id="live-autographs">
	<div id="live-autograph-stream">
    	<h2>{{sidebar_title}}</h2>
        <span id="live-autograph-found">{{txt_step}} 2 {{txt_of}} 3</span>
        <div id="live-autograph-list" class="scrolling">
            <div class="content">
                {{sidebar}}
            </div>
        </div>
    </div>
    {{#sidebar_counter}}
    <div id="live-autograph-counter">{{sidebar_counter}}</div>
    {{/sidebar_counter}}
</section>
{{#newsletter}}
<div id="newsletter-subscription">
    {{#newsletter}}
    {{>newsletter}}
    {{/newsletter}}
</div>
{{/newsletter}}
