<button data-next="step-3" id="book2-next" class="next btn arrow">3. next step</button>
<section id="live-autographs">
    <div id="live-autograph-stream" class="taller">
        <h2>{{sidebar_title}}</h2>
        <span id="live-autograph-found">{{txt_step}} 2 {{txt_of}} 3</span>
        <div id="book2-side-form" class="scrolling">
            <div class="content">
                <p class="intro">{{txt_side_intro}}</p>
                <h3>{{txt_card_for}}:*</h3>
                <input id="book2-name" type="text" name="name" value="{{autograph.name}}" />
                <h3>{{txt_what_should_msg_include}}?*</h3>
                <textarea name="msg" id="book2-msg">{{autograph.msg}}</textarea>
                <h3>Pen Color</h3>
                <ul>
                    {{#pen_colors}}
                    <li data-color="{{color}}" class="pen-color pen-color-{{color}}{{#selectedColor}} active{{/selectedColor}}"></li>
                    {{/pen_colors}}
                </ul>
            </div>
        </div>
    </div>
</section>
<a href="#" data-next="step-1" class="prev btn" id="book2-prev">zurück zu 1.</a>