<section id="live-autographs">
	<div id="live-autograph-stream">
    	<h2>{{sidebar_title}}</h2>
        <span id="live-autograph-found">{{sidebar_found}}</span>
        <div id="live-autograph-list" class="scrolling">
        	{{sidebar_content}}
        </div>
    </div>
    <div id="live-autograph-counter">{{sidebar_counter}}</div>
</section>
<div id="newsletter-subscription">
	<h2>Bitte informiert mich!</h2>
    <p>Ja, ich möchte wöchentlich über neue Autogramme und Termine informiert werden.</p>
    <form method="post" action="/nlt/subscribe">
    	<fieldset>
            <input type="email" name="email" placeholder="E-Mail-Adresse hier eintragen" required="required" />
            <button type="submit">Subscribe</button>
        </fieldset>
    </form>
</div>

