<section id="live-autographs">
    <div id="live-autograph-stream">
        <h2>{{star.name}}</h2>
        <a href="#" id="map-man" title="Verfolgen"></a>
        <span id="live-autograph-found">47 Karten in Warteschlange</span>
        <div id="live-autograph-list" class="scrolling">
            <div class="content">
                <div id="video-preview">
                    <div class="video-container">
                        <video poster="/images/imgs/posters/poster-1.jpg"></video>
                        <audio></audio>
                        <span id="recording">{{txtRecording}}</span>
                        <div class="controls">
                            <a href="#" class="play-pause"></a>
                            <span class="time">00:00</span>
                            <a href="#" class="volume-icon"></a>
                        </div>
                    </div>
                    <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica vocabules.</p>
                </div>
            </div>
        </div>
    </div>
</section>
